In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import re

In [2]:
##Data Exploration and Cleaning

In [3]:
data=pd.read_csv('startupfund.csv')
data.head()

,Sr No,Date dd/mm/yyyy,Startup Name,Industry Vertical,SubVertical,City Location,Investors Name,InvestmentnType,Amount in USD,Remarks
0,1,15-12-2020,Bira 91,Food and Beverage,Craft Beer,New Delhi,"Nishant Mittal, Pankaj Chaddah and Shikha Suni...",Funding,"12,73,634.07",NaN
1,2,21-12-2020,Pine Labs,Financial Services,Payment Solutions Provider,Noida,Lone Pine Capital,Secondary Market,Undisclosed,NaN
2,3,15-12-2020,Zenoti,Technology Provider,Cloud-based software provider for the spa and ...,Washington,Advent International,Series D,"16,00,00,000",NaN
3,4,22-12-2020,Tax Buddy India,FinTech,Online tax adviser,Mumbai,Zenith Global,Seed,"10,00,000",NaN
4,5,15-12-2020,Delhivery,Supply chain,Transportation,Gurgaon,Steadview Capital,Secondary Market,"2,50,00,000",NaN

In [4]:
data.shape

(3158, 10)

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3158 entries, 0 to 3157
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Sr No              3158 non-null   int64
 1   Date dd/mm/yyyy    3158 non-null   object
 2   Startup Name       3158 non-null   object
 3   Industry Vertical  2987 non-null   object
 4   SubVertical        2222 non-null   object
 5   City  Location     2978 non-null   object
 6   Investors Name     3134 non-null   object
 7   InvestmentnType    3150 non-null   object
 8   Amount in USD      2184 non-null   object
 9   Remarks            419 non-null    object
dtypes: int64(1), object(9)
memory usage: 246.8+ KB

In [6]:
data.rename(columns={'Startup Name': 'StartupName', 'Industry Vertical': 'Industry', 'City  Location': 'CityLocation', 'Investors Name': 'InvestorName', 'InvestmentnType': 'InvestmentType', 'Amount in USD': 'Amount'}, inplace=True)
data.head()

,Sr No,Date dd/mm/yyyy,StartupName,Industry,SubVertical,CityLocation,InvestorName,InvestmentType,Amount,Remarks
0,1,15-12-2020,Bira 91,Food and Beverage,Craft Beer,New Delhi,"Nishant Mittal, Pankaj Chaddah and Shikha Suni...",Funding,"12,73,634.07",NaN
1,2,21-12-2020,Pine Labs,Financial Services,Payment Solutions Provider,Noida,Lone Pine Capital,Secondary Market,Undisclosed,NaN
2,3,15-12-2020,Zenoti,Technology Provider,Cloud-based software provider for the spa and ...,Washington,Advent International,Series D,"16,00,00,000",NaN
3,4,22-12-2020,Tax Buddy India,FinTech,Online tax adviser,Mumbai,Zenith Global,Seed,"10,00,000",NaN
4,5,15-12-2020,Delhivery,Supply chain,Transportation,Gurgaon,Steadview Capital,Secondary Market,"2,50,00,000",NaN

In [7]:
###Cleaning date column and extracting month and year values from date

In [8]:
data['Date dd/mm/yyyy']=data['Date dd/mm/yyyy'].map(lambda x:str(x).replace('-',''))
data['Date dd/mm/yyyy']=data['Date dd/mm/yyyy'].map(lambda x:str(x).replace('/',''))

In [9]:
data['Date']=pd.to_datetime(data['Date dd/mm/yyyy'],format='%d%m%Y',errors='coerce')
data['Year']=pd.DatetimeIndex(data['Date']).year
data['Month']=pd.DatetimeIndex(data['Date']).month

In [10]:
###Converting values in Amount column from string to float

In [11]:
def isnum(x):
    try:
        x=int(str(x).replace(',',''))
    except:
        x=str(x).replace(',','')
    if isinstance(x,int):
        return x
    else:
        return 0

In [12]:
data['Amount']=data['Amount'].map(isnum)

In [13]:
 def amount(x):
    if x<=1000000:
        return '0-10L'
    elif x<=5000000:
        return '10L-50L'
    elif x<=10000000:
        return '50L-1C'
    elif x<=20000000:
        return '1C-2C'
    elif x<=50000000:
        return '2C-5C'
    elif x<=100000000:
        return '5C-10C'
    elif x<=200000000:
        return '10C-20C'
    elif x<=400000000:
        return '20C-40C'
    elif x<=1000000000:
        return '40C-100C'
    elif x<=2000000000:
        return '100C-200C'
    elif x<=3000000000:
        return '200C-300C'
    else:
        return '300C+'

In [14]:
data['Investment Range in USD']=data['Amount'].map(amount)

In [15]:
###Cleaning column CityLocation